html,
body {

    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.maincontainer {
    display: flex;
    padding-top: 15px;
}

header {
    background-color: #008080;
    text-align: center;
}

header h1 {
    padding-top: 10px;
}

header p {
    padding-bottom: 10px;
}

aside {
    width: 120px;
    margin-left: 5%;
    margin-right: 40px;
}

nav ul {
    padding-left:0px;
    margin-top: 0;
    list-style: none;
    text-align: right;
}

nav ul li {
    padding-bottom: 20px;
}

nav ul li a {
    color: #008080;
    text-decoration: none;
}

main {
    width: 55%;
    margin-right: 20px;
}

main h2 {
    margin-top: 0px;
}

main p {
    margin-top: 0px;
    padding-top: 0px;
}

main img {
    width: 170px;
    float: left;
    margin-right: 20px;
}

footer {
    background-color: #008080;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width:100%;
}

footer p {
    padding: 10px;
}